/////////////////////
//
// Globals setup
//
/////////////////////



	//
	// Layout
	//
	// Breakpoints:
	// 'xxs' :    0, // Too small
	// 'xs'  :  300, // Minimal mobile portrait
	// 's'   :  420, // Starting mobile landscape
	// 'm'   :  680, // Starting tablet portrait
	// 'l'   :  960, // Starting tablet landscape
	// 'xl'  : 1200, // Starting laptop
	// 'xxl' : 1500  // Starting desktop
	//

		$boxed_width: 1560;
		$content_width: 1180;

		$single_post_left_padding: .38 * .62 * 100; // %

		$column_padding_vertical: 3.62rem;



	//
	// Typography
	//

		$font_size: 18;

		$font_family: (
			'body':     "'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif",
			'headings': "'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif",
			'logo':     "'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif",
		) !default;

		$h_tags_setup: (

			// $selector : (
			//   $size
			//   $line_height
			//   $margin_top    [ ( span_4_or_3_lines - $size * $line_height - $margin_bottom ) / $size ]
			//   $margin_bottom [ $margin_bottom / $size / $line_height ]
			// )

			// @link http://www.zell-weekeat.com/responsive-typography/
			//
			// Em vs Rem section regarding vertical rhythm
			//
			// "First, we’re not 100% precise and accurate with our math. We could get more precise (like 10 decimal places), but that would make our code ugly as hell…"
			// "Second, different browsers handle subpixel rounding issues differently. This means we’ll never be able to get pixel-perfect rhythms no matter how hard we try."
			// "So, here’s what I realized. It’s impossible to apply perfect responsive vertical rhythms across different browsers. At least not with the current technology."

			'h1, .h1' : (
					2.62,
					1.19,
					( 6.48 - 2.62 * 1.19 - 1.62 ) / 2.62,
					1.62 / 2.62 / 1.19
				),
			'h2, .h2' : (
					1.9,
					1.19,
					( 6.48 - 1.9 * 1.19 - 1.62 ) / 1.9,
					1.62 / 1.9 / 1.19
				),
			'h3, .h3' : (
					1.62,
					1.38,
					( 6.48 - 1.62 * 1.38 - 1.62 ) / 1.62,
					1.62 / 1.62 / 1.38
				),
			'h4, .h4' : (
					1.38,
					1.38,
					( 4.86 - 1.38 * 1.38 - 1.62 ) / 1.38,
					1.62 / 1.38 / 1.38
				),
			'h5, .h5' : (
					1.19,
					1.62,
					( 4.86 - 1.19 * 1.62 - 1.62 ) / 1.19,
					1.62 / 1.19 / 1.62
				),
			'h6, .h6' : (
					1,
					1.62,
					( 4.86 - 1 * 1.62 - 1.62 ) / 1,
					1.62 / 1 / 1.62
				)

		) !default;

		$display_text_size: (
			1 : 2.62em, // this should match the H1 size
			2 : 3.62em,
			3 : 4.25em,
			4 : 5em,
		) !default;



	//
	// Margins
	//

		$tags_margin_bottom: (
			'h1',
			'h2',
			'h3',
			'.h1',
			'.h2',
			'.h3',
			'p',
			'ol',
			'ul',
			'blockquote',
			'.gallery',
			'.tiled-gallery'
		);



	//
	// Button elements
	//

		$button_elements: (
			'.button',
			'button',
			'input[type="button"]',
			'input[type="reset"]',
			'input[type="submit"]'
		);

		$button_elements_beaver_builder: ();

		$beaver_builder_button_prepend: '.fl-builder-content .fl-module';

		@each $button_element in $button_elements {

			$button_elements_beaver_builder: append( $button_elements_beaver_builder, '#{$beaver_builder_button_prepend} #{$button_element}', comma );

		}



	//
	// Post formats
	//

		$supported_post_formats: (
			'audio',
			'gallery',
			'video'
		);





/////////////////////
//
// Icons
//
/////////////////////

	$social_icons: (

		// class: char href

		'website':  '\f475' 'http',
		'email':    '\f410' 'mailto:',
		'rss':      '\f413' '/feed/',

		'codepen':  '\f216' 'codepen.io',
		'digg':     '\f221' 'digg.com',
		'dribbble': '\f201' 'dribbble.com',
		'dropbox':  '\f225' 'dropbox.com',
		'facebook': '\f204' 'facebook.com',

		'flickr':     '\f211' 'flickr.com',
		'foursquare': '\f226' 'foursquare.com',
		'github':     '\f200' 'github.com',
		'instagram':  '\f215' 'instagram.com',
		'linkedin':   '\f207' 'linkedin.com',

		'pinterest':   '\f209' 'pinterest.com',
		'google-plus': '\f218' 'plus.google.com',
		'pocket':      '\f224' 'getpocket.com',
		'polldaddy':   '\f217' 'polldaddy.com',
		'reddit':      '\f222' 'reddit.com',

		'skype':       '\f220' 'skype:',
		'spotify':     '\f515' 'spotify.com',
		'stumbleupon': '\f223' 'stumbleupon.com',
		'tumblr':      '\f214' 'tumblr.com',
		'twitch':      '\f516' 'twitch.tv',

		'twitter':   '\f202' 'twitter.com',
		'vimeo':     '\f212' 'vimeo.com',
		'wordpress': '\f205' 'wordpress.',
		'youtube':   '\f213' 'youtube.com',

	);

	$entry_meta_icons: (

		// class: char

		'author':          '\f304',
		'cat-links':       '\f301',
		'comments-link a': '\f300',
		'entry-date':      '\f303',
		'tags-links':      '\f302',

		'entry-likes a': '\f461',
		'entry-views':   '\f403',
		'entry-edit':    '\f411',

	);





/////////////////////
//
// Colors
//
/////////////////////



	//
	// Media player
	//

		$color_mejs_bg: #2a2c2e; // Some neutral dark color that won't change



	//
	// Theme colors
	// For accessibility test with http://jxnblk.com/colorable/demos/text/
	//

	$colors: (

		// Body

			'body_background': #1a1c1e,

		// Site header

			'header_background':     #f1f3f5,
			'header_text_primary':   #1a1c1e,
			'header_text_secondary': #fafcfe,

		// Site content

			'content_background': #fafcfe,
			'content_text':       #5a5c5e,
			'content_headings':   #2a2c2e,
			'content_border':     #caccce,

		// Site footer

			'footer_background':  #2a2c2e,
			'footer_text':        #caccce,
			'footer_headings':    #eaecee,
			'footer_border':      #4a4c4e,

			'footer_accent':      #eaecfe,
			'footer_accent_text': #3a3c4e,

		// Accent color

			'accent_primary_background': #986F3A,
			'accent_primary_text':       #fff,

			'accent_secondary_background': #07599b,
			'accent_secondary_text':       #fafcfe,

	);
