/* FILE: main/footer/_footer.scss */

//
// Site footer and info
//





// Footer

	.site-footer {
		@extend %font_size_smaller;
		position: relative;

		* {
			border-color: inherit;
		}

		&-area-inner {
			@extend %content_width;
		}

	}

	// For footer widgets see "Sidebar" section



// Site info (credits)

	.footer-area-site-info {
		position: relative;
		line-height: power( $golden, 2 ) +em; // To center child elements vertically
		border-top: 1px solid;
		border-color: inherit;
		z-index: 1; // Trick to keep pseudo element below child elements

		&::before {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			background-color: currentColor;
			opacity: .1;
			z-index: -1; // Trick to keep pseudo element below child elements
		}

		a {
			@extend .weight-700;

			.site-footer & {
				color: inherit;
			}

		}

	}

	.site-info {

		@include responsive( map_get( $breakpoint, 'xl' ) ) {
			float: left;
		}

		&-inner {
			@extend .clearfix;
			padding: ( $golden +em ) 0;
		}

	}
