/* FILE: main/menu/__menu-social.scss */

//
// Social links menu (works with Custom Menu widget too)
//





.social-links {

	.site-header & {
		margin-left: power( $golden, 2 ) +em;
	}

	@include responsive( map_get( $breakpoint, 'xl' ) ) {
		float: right;

		.site-header & {
			float: left;
			margin: 0 ( power( $golden_minor + 1, 4 ) +em );
		}

	}

	.site-footer & {
		margin-top: 1em;

		@include responsive( map_get( $breakpoint, 'xl' ) ) {
			margin-top: $golden_minor / -2 +em;
		}

	}

	.widget.widget_nav_menu & {
		float: none;
	}

	ul {
		@extend .overflow-hidden;
		margin: 0;
		list-style: none;
	}

	li {
		display: inline-block;
		margin: 0;

		.widget.widget_nav_menu & {
			border: 0;
		}

	}

	a {
		display: inline-block;
		padding-left: $golden_major +em;
		padding-right: $golden_major +em;
		margin: 1px; // For focus outline to be visible in whole.
		line-height: 3rem - 2 * $golden_minor;
		color: inherit;
		transition: box-shadow .3s;

		&:hover {
			text-decoration: none;
			box-shadow: none;
		}

		&::before {
			@extend %genericon;
			content: '';
			display: inline-block;
			vertical-align: top;
		}

		&.back-to-top {

			&::before {
				content: '\f435';
				padding: 0 ( $golden_minor +em );
			}

		}

		.widget.widget_nav_menu & {
			text-align: center;

			.sidebar &,
			.fl-widget & {
				width: 2em;
				height: 2em;
				padding: 0;
				line-height: 2em;
				line-height: calc( 2em - 2px ); // Compensating for 1px border on top and bottom
				border: 1px solid;
				border-radius: 2em;

				&:last-child {
					margin-right: 0;
				}

			}

			&::after {
				display: none;
			}

		}

	}

	@each $social, $params in $social_icons {

		$href: nth( $params, 2 );
		$char: nth( $params, 1 );

		a[href*="#{$href}"]::before,
		.#{$social} a::before {
			content: $char;
		}

	}

	.site-header & {

		.back-to-top-link {
			display: none;
		}

	}

}
