/* FILE: main/header/_header.scss */

//
// Site header, branding, navigation and social links menu
//





// Site header

	.site-header {

		&-inner {
			@extend %full_width;
			@extend .clearfix;
			padding-top: 1rem;
			padding-bottom: 1rem;
			line-height: 3rem;
		}

		a {
			color: inherit;
		}

	}



// Imports

	@import "_branding";
