/* FILE: main/header/_header.scss */

//
// Site header, branding, navigation and social links menu
//





// Site header

	.site-header {
		@extend .clearfix;
		position: relative;
		z-index: 99;

		&-inner {
			@extend %fullhd_width;
			display: flex;
			justify-content: space-between;
			padding-top: 1rem;
			padding-bottom: 1rem;
			line-height: 3rem;
		}

		a {
			color: inherit;
		}

	}



// Imports

	@import "_branding";
