/* FILE: main/content/__meta.scss */

//
// Entry meta
//





.entry-meta {

	.posts & {
		@extend %font_size_small;
		position: relative;
		padding: 1em;
		margin: 0;
		margin-left: percentage( ( $single_post_left_padding * -100 / ( 100 - $single_post_left_padding ) ) / 100 );
		text-transform: uppercase;
		border: 0;
		z-index: 1; // Trick to keep pseudo element below child elements

		&::before {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			background-color: currentColor;
			opacity: .1;
			z-index: -1; // Trick to keep pseudo element below child elements
		}

	}

	.single & {
		margin-top: power( $golden, 2 ) +rem;
		margin-bottom: 0;
		line-height: 1 + $golden_minor; // 1.38
	}

	&-element {
		margin-right: $golden_major +em;
		opacity: 1;
	}

	&-description {
		@extend %screen_reader_hiding;
	}

	@include responsive( map_get( $breakpoint, 'm' ) ) {

		// Single post meta on left from post content

			.single-post:not(.fl-builder) .entry-content + &,
			.single-post .entry-header & {
				float: left;
				width: percentage( $single_post_left_padding / 100 );
				padding: 0 ( $golden +rem ) 0 0;
				margin: 0 0 ( $golden +em );
				font-size: 1em - $golden_minor / 2; // .81
				border: 0;
				border-color: inherit;

				.entry-meta-element {
					display: block;
					padding: ( $golden +em ) ( $golden_major +em );
					margin: 0 0 1em;
					text-align: center;
					border: 0;
				}

				// Date styling

				.entry-date {
					padding-top: $golden_major +em;
					padding-bottom: 1em;
					line-height: 1;
					text-transform: uppercase;
					border-style: solid;
					opacity: 1;

					&::before {
						display: none;
					}

					span {
						display: inline;
					}

					.day {
						display: block;
						margin-top: -.09em;
						font-size: power( $golden, 3 ) +em;
					}

				}

			}

			.single-post .entry-header & {

				&,
				& .entry-meta-element {
					margin-bottom: 0;
				}

			}

	}

	@include responsive( map_get( $breakpoint, 'xl' ) ) {

		// Single post meta on left from post content

			.single-post:not(.fl-builder) .entry-content + &,
			.single-post .entry-header & {

				// Date styling

					.entry-date {
						font-size: $golden_minor + 1em;
					}

			}

	}

	a {
		text-decoration: none;
	}

	// Meta element icon

		@each $icon, $char in $entry_meta_icons {

			.#{$icon}::before {
				@extend %genericon;
				content: $char;
				margin-top: 0;
				vertical-align: middle;

				.single & {
					line-height: 1;
					vertical-align: top;
				}

			}

		}

}
