/* FILE: main/content/__pages.scss */

//
// Page styles
//





// Subpages (features) list

	.list-features {
		@extend %content_width;
		display: flex;
		justify-content: space-between;
		padding-top: $golden +em;
		padding-bottom: $golden +em;

		@include responsive( map_get( $breakpoint, 'm' ) ) {
			padding-top: 0;
			padding-bottom: 0;
		}

		&-container {
			position: relative;
			z-index: 1; // Trick to keep pseudo element below child elements

			&::before {
				content: '';
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
				background-color: currentColor;
				opacity: .1;
				z-index: -1; // Trick to keep pseudo element below child elements
			}

		}

	}

	.feature {
		flex: 1;
		flex-shrink: 1; // IE10 required on flex children
		padding: ( $golden +em ) 0;
		margin: 0;

		+ .feature {
			margin-left: $golden * 2rem;
		}

		@include responsive( map_get( $breakpoint, 'm' ) ) {
			padding: ( power( $golden, 2 ) +em ) 0;
		}

		@include responsive( map_get( $breakpoint, 'l' ) ) {
			padding: ( power( $golden, 3 ) +em ) 0;
		}

		$feature_title_setup: map_get( $h_tags_setup, "h3, .h3" );

		&-title {
			font-size: nth( $feature_title_setup, 1 ) +em;
			line-height: nth( $feature_title_setup, 2 );
			margin: ( $golden +rem ) 0;
		}

	}



// Special pages

	// Error 404 and "not found" page

		.error-404,
		.not-found {
			text-align: center;

			form {
				display: inline-block;
				width: percentage( $golden_major );
				text-align: center;

				&::before {
					padding: ( $golden_minor +em ) 0;
					line-height: 1em + $golden_minor / 2;
				}

			}

		}

		.not-found {

			// There is a sidebar on this page

			form {
				width: 100%;
			}

		}

		.error-404 {

			.page-content {
				margin-top: 1em;
			}

		}
