/* FILE: main/content/__posts.scss */

//
// Posts list
//





// Post excerpt

	.entry-summary {

		&.has-more-tag {
			text-transform: uppercase;
		}

	}



// Post content

	.entry-content {

		.posts & {
			padding-top: $golden +rem;
		}

		@include responsive( map_get( $breakpoint, 'm' ) ) {

			.single-post:not(.fl-builder) & {
				float: right;
				width: percentage( ( 100 - $single_post_left_padding ) / 100 );
			}

			.single-wm_staff:not(.fl-builder) & {
				// This post type has different layout than standard blog posts:
				padding-left: percentage( $single_post_left_padding / 100 );
			}

			// Other post types should fall back to fullwidth .entry-content (minus .sidebar)

		}

	}



// Posts list

	.posts {
		@extend .clearfix;

		.hentry {
			position: relative;
			padding-left: percentage( $single_post_left_padding / 100 );

			+ .hentry {
				margin-top: power( $golden, 4 ) +rem;
			}

		}

	}



// More link

	.more-link {
		@extend %button_base;
	}

	.link-more {

		.entry-summary + & {
			margin-top: 1rem;
		}

	}
