/* FILE: main/content/__wp.scss */

//
// WordPress default styles
//





// Alignments

	// Pullquotes

		blockquote {

			&.alignleft,
			&.alignright {
				padding: 0;

				@include responsive( map_get( $breakpoint, 's' ) ) {
					width: 35%;
				}

			}

			&.alignleft {
				margin-left: 0;
			}

			&.alignright {
				margin-right: 0;
			}

		}
