/* FILE: main/headings/_headings.scss */

//
// Headings
//





// Basic headings styles

	#{$h_tags} {
		@extend %font_headings;
	}

	@include h_tags( $golden_major + $golden_minor / 2, true ); // Heading default styles (on small devices)

	@include responsive( map_get( $breakpoint, 'm' ) ) {

		@include h_tags();

	}



// Entry title

	.entry-header {
		margin-bottom: power( $golden, 2 ) +rem;

		@include responsive( map_get( $breakpoint, 'l' ) ) {
			margin-bottom: power( 1 + $golden_minor, 4 ) +rem;
		}

		.posts & {
			padding-bottom: $golden +rem;
			margin-top: $golden +rem;
			margin-bottom: 0;
			margin-left: percentage( ( $single_post_left_padding * -100 / ( 100 - $single_post_left_padding ) ) / 100 );
			border-bottom: 2px solid;
			border-color: inherit;
		}

		@include responsive( map_get( $breakpoint, 'm' ) ) {

			.single-post & {
				display: flex;
				flex-shrink: 1; // IE10 required on flex children
				overflow: hidden;

				h1 {
					order: 2;
					display: flex;
					flex-shrink: 1; // IE10 required on flex children
					flex-direction: column;
					justify-content: center;
					width: percentage( ( 100 - $single_post_left_padding ) / 100 );
					margin: 0;
					float: right; // Flexbox fallback
				}

			}

		}

	}

	.entry-title,
	.page-title {
		@extend .weight-700;
		padding: 0;
		margin: 0 0 ( power( $golden, 2 ) +rem );
		word-wrap: break-word;
		overflow-wrap: break-word;

		.posts & {
			@extend %font_size_golden_minor;
		}

	}



// Widget title

	.widget-title {
		@extend %font_size_smaller_rem;
		@extend .weight-700;
		margin: 0 0 ( $golden +rem );
		text-transform: uppercase;
		letter-spacing: $golden_minor / 4 +em;

		.sidebar & {
			padding: 1em ( $golden +rem );
			margin-left: -$golden +rem;
			margin-right: -$golden +rem;
			line-height: 1;
		}

	}

	.hide-widget-title {

		.widget-title,
		.widgettitle {
			display: none;
		}

		&-accessible {

			.widget-title,
			.widgettitle {
				@extend %screen_reader_hiding;
			}

		}

	}



// Intro title

	.intro {
		@extend %font_size_golden_minor;
		width: 100%;
		padding: 8% 0;

		&-container {
			position: relative;
			padding-top: 10%;
			margin: 0;
			background-position: 50% 50%;
			background-size: cover;
			z-index: 1;
		}

		&-inner {
			@extend %content_width;
		}

		&-title {
			@extend %font_headings;
			@extend %line_height_tight;
			font-size: power( $golden, 3 ) +em;
			margin: 0;
			color: inherit;

			a {
				color: inherit;
			}

		}

	}

	.intro-title,
	.page-summary {
		max-width: percentage( 2 / 3 );
		max-width: calc( #{ percentage( 2 / 3 ) } - #{ $golden +rem } );
	}

	.page-summary {
		@extend .weight-300;
		margin-top: $golden +em;
	}

	// Hiding default titles when intro title used

		.page-header {

			.blog .site-content &,
			.site-content .archives-listing &,
			.site-content .search-results-listing & {
				@extend %screen_reader_hiding;
			}

		}
