/* FILE: custom-styles/_content.scss */

//
// Site content color styles.
// Posts color styles.
// Sidebar color styles.
//





// Site content

	%site_content_colors {
		/*[*/
		background-color: map_get( $colors, "content_background" );
		color: map_get( $colors, "content_text" );
		border-color: map_get( $colors, "content_border" );
		/*]*/
		/*//
		background-color: ___color_content_background;
		color: ___color_content_text;
		border-color: ___color_content_border;
		//*/
	}

	%site_content_headings_colors {
		/*[*/
		color: map_get( $colors, "content_headings" );
		/*]*/
		/*//
		color: ___color_content_headings;
		//*/
	}

	.site,
	.site-content {
		@extend %site_content_colors;
	}

	// Elements with inner border style (logo style)

		%inner_border_content {
			/*[*/
			background-color: map_get( $colors, "content_headings" );
			color: map_get( $colors, "content_background" );
			box-shadow: inset 0 0 0 4px map_get( $colors, "content_headings" ), inset 0 0 0 5px;
			/*]*/
			/*//
			background-color: ___color_content_headings;
			color: ___color_content_background;
			box-shadow: inset 0 0 0 4px ___color_content_headings, inset 0 0 0 5px;
			//*/
		}



// Posts

	// Single post meta

		.single .entry-meta-element {
			@extend %inner_border_content;
		}



// Sidebar

	.widget-title {

		.sidebar & {
			@extend %inner_border_content;
		}

	}
