/* FILE: custom-styles/_footer.scss */

//
// Site footer color styles.
// Footer info widgets color styles.
// Site info (credits) color styles.
//





// Site footer

	.site-footer {
		/*[*/
		background-color: map_get( $colors, "footer_background" );
		color: map_get( $colors, "footer_text" );
		border-color: map_get( $colors, "footer_border" );
		/*]*/
		/*//
		background-color: ___color_footer_background;
		color: ___color_footer_text;
		border-color: ___color_footer_border;
		//*/

		#{$h_tags} {
			/*[*/
			color: map_get( $colors, "footer_headings" );
			/*]*/
			/*//
			color: ___color_footer_headings;
			//*/
		}

	}

	.site-footer {

		// Accent color

			a {
				/*[*/
				color: map_get( $colors, "footer_accent" );
				/*]*/
				/*//
				color: ___color_footer_accent;
				//*/
			}

			mark,
			.highlight,
			.button,
			button,
			input[type="button"],
			input[type="reset"],
			input[type="submit"],
			.widget_calendar tbody a,
			.widget .tagcloud a:hover,
			.widget .tagcloud a:focus,
			.widget .tagcloud a:active {
				/*[*/
				background-color: map_get( $colors, "footer_accent" );
				color: map_get( $colors, "footer_accent_text" );
				/*]*/
				/*//
				background-color: ___color_footer_accent;
				color: ___color_footer_accent_text;
				//*/
			}

			input:focus,
			select:focus,
			textarea:focus,
			.widget .tagcloud a:hover,
			.widget .tagcloud a:focus,
			.widget .tagcloud a:active {
				/*[*/
				border-color: map_get( $colors, "footer_accent" );
				/*]*/
				/*//
				border-color: ___color_footer_accent;
				//*/
			}

	}
