/* FILE: custom-styles/_header.scss */

//
// Site header color styles.
// Navigation color styles.
// Mobile menu bar color styles.
// Intro title area color styles.
//





// Site header

	.site-header {
		/*[*/
		background-color: map_get( $colors, "header_background" );
		color: map_get( $colors, "header_text_primary" );
		/*]*/
		/*//
		background-color: ___color_header_background;
		color: ___color_header_text_primary;
		//*/
	}

	// Elements with inner border style (logo style)

		%inner_border_header {
			/*[*/
			background-color: map_get( $colors, "header_text_primary" );
			box-shadow: inset 0 0 0 4px map_get( $colors, "header_text_primary" ), inset 0 0 0 5px;
			/*]*/
			/*//
			background-color: ___color_header_text_primary;
			box-shadow: inset 0 0 0 4px ___color_header_text_primary, inset 0 0 0 5px;
			//*/

			&,
			&:hover,
			&:focus,
			&:active {
				/*[*/
				color: map_get( $colors, "header_text_secondary" );
				/*]*/
				/*//
				color: ___color_header_text_secondary;
				//*/
			}

		}



// Branding

	.type-text {

		&.styled {
			@extend %inner_border_header;
		}

	}



// Navigation

	.main-navigation-container {

		.menu {

			@include responsive( map_get( $breakpoint, 'l' ), 'max-width' ) {

				li {

					a:focus,
					a:hover,
					// &.focus > a, // Not on mobiles
					&.current-menu-item > a {
						/*[*/
						background-color: map_get( $colors, "navigation_border" );
						/*]*/
						/*//
						background-color: ___color_navigation_border;
						//*/
					}

				}

			}

			@include responsive( map_get( $breakpoint, 'l' ) ) {

				> ul {

					> li {

						a:hover,
						a:focus,
						a:active,
						&.focus > a,
						&.current-menu-item > a,
						&.current-menu-ancestor > a {
							/*[*/
							background-color: map_get( $colors, "header_text_primary" );
							color: map_get( $colors, "header_text_secondary" );
							/*]*/
							/*//
							background-color: ___color_header_text_primary;
							color: ___color_header_text_secondary;
							//*/
						}

						&.current-menu-item > a,
						&.current-menu-ancestor > a {
							/*[*/
							box-shadow: inset 0 0 0 4px map_get( $colors, "header_text_primary" ), inset 0 0 0 5px;
							/*]*/
							/*//
							box-shadow: inset 0 0 0 4px ___color_header_text_primary, inset 0 0 0 5px;
							//*/
						}

						a:hover,
						a:focus,
						a:active,
						&.focus > a { box-shadow: none; } // @todo

					}

				}

				li {

					li {

						> a:focus,
						&:hover > a,
						&.focus > a,
						&.current-menu-item > a,
						&.current-menu-ancestor > a {
							/*[*/
							background-color: map_get( $colors, "navigation_border" );
							/*]*/
							/*//
							background-color: ___color_navigation_border;
							//*/
						}

					}

				}

			}

		}

		ul {
			/*[*/
			border-color: map_get( $colors, "navigation_border" );
			/*]*/
			/*//
			border-color: ___color_navigation_border;
			//*/
		}

		li {

			ul {

				@include responsive( map_get( $breakpoint, 'l' ) ) {
					/*[*/
					background-color: map_get( $colors, "header_text_primary" );
					color: map_get( $colors, "header_text_secondary" );
					/*]*/
					/*//
					background-color: ___color_header_text_primary;
					color: ___color_header_text_secondary;
					//*/
				}

			}

		}

	}



// Mobile menu bar (and Intro heading)

	.menu-toggle,
	.mobile-menu-container,
	.main-navigation.active {
		/*[*/
		background-color: map_get( $colors, "header_text_primary" );
		color: map_get( $colors, "header_text_secondary" );
		border-color: map_get( $colors, "navigation_border" );
		/*]*/
		/*//
		background-color: ___color_header_text_primary;
		color: ___color_header_text_secondary;
		border-color: ___color_navigation_border;
		//*/
	}

	.mobile-menu-container {

		.current-menu-item {
			/*[*/
			background-color: map_get( $colors, "navigation_border" );
			/*]*/
			/*//
			background-color: ___color_navigation_border;
			//*/
		}

	}



// Social links

	.social-links {

		a {
			@extend %inner_border_header;
		}

	}



// Intro title

	.intro {
		text-shadow: 0 2px 2px rgba(#0a0c0e, .75); //*
		background: linear-gradient( to top, rgba(#0a0c0e, .75), transparent ); //*
		color: #fafcfe; //*
	}

	.intro-widgets-container {
		/*[*/
		color: map_get( $colors, "footer_text" );
		border-color: map_get( $colors, "footer_border" );
		/*]*/
		/*//
		color: ___color_footer_text;
		border-color: ___color_footer_border;
		//*/

		&::before {
			/*[*/
			background-color: map_get( $colors, "footer_background" );
			/*]*/
			/*//
			background-color: ___color_footer_background;
			//*/
		}

		.widget-title {
			/*[*/
			color: map_get( $colors, "footer_headings" );
			/*]*/
			/*//
			color: ___color_footer_headings;
			//*/
		}

	}
