/* FILE: custom-styles.scss */
/* FILE: custom-styles/_base.scss */
body { background-color: #1a1c1e; }

::-webkit-input-placeholder, :disabled::-webkit-input-placeholder { color: inherit !important; }

::-moz-placeholder, :disabled::-moz-placeholder { color: inherit !important; }

:-ms-input-placeholder, :disabled:-ms-input-placeholder { color: inherit !important; }

::placeholder, :disabled::placeholder { color: inherit !important; }

button, input, select, textarea, tbody tr:hover td, tbody tr:hover th, code, pre { background-color: rgba(0, 0, 0, 0.05); }

.gallery-caption { background-color: rgba(0, 0, 0, 0.8); color: #fafcfe; }

.pagination a:hover { background-color: rgba(0, 0, 0, 0.1); }

.button, button, input[type="button"], input[type="reset"], input[type="submit"], .fl-builder-content .fl-module .button, .fl-builder-content .fl-module button, .fl-builder-content .fl-module input[type="button"], .fl-builder-content .fl-module input[type="reset"], .fl-builder-content .fl-module input[type="submit"], .site-content .more-link { /*[*/ background-color: #986F3A; color: #fff; box-shadow: inset 0 0 0 4px #986F3A, inset 0 0 0 5px; /*]*/ /*// background-color: ___color_accent_primary_background; color: ___color_accent_primary_text; box-shadow: inset 0 0 0 4px ___color_accent_primary_background, inset 0 0 0 5px; //*/ }

@media only screen and (max-width: 959px) { .active .menu-toggle { /*[*/ background-color: #986F3A; color: #fff; /*]*/ /*// background-color: ___color_accent_primary_background; color: ___color_accent_primary_text; //*/ } }

.sidebar .wm-subnav li a:hover, .sidebar .widget_nav_menu a:hover { /*[*/ background-color: #986F3A; color: #fff; /*]*/ /*// background-color: ___color_accent_primary_background; color: ___color_accent_primary_text; //*/ }

.sidebar .wm-subnav .current_page_item > a, .sidebar .widget_nav_menu .current-menu-item > a { /*[*/ /*]*/ /*// background-color: ___color_navigation_background; color: ___color_navigation_text; //*/ }

.widget .tagcloud a::before { background-color: #2a2c2e; color: #fafcfe; }

blockquote::before, blockquote::after, blockquote.alignleft::before, blockquote.alignleft::after, blockquote.alignright::before, blockquote.alignright::after, button, input, select, textarea, .main-navigation-container li li, .header-info-widgets .search-field:focus, .entry-meta, .single .entry-meta, .comment-meta, .comment-respond, .comment-list .comment-respond, .pagination, .post-table-of-contents, .post-table-of-contents.top, .widget ul li, .widget .tagcloud a, .inline .widget ul li, div.sharedaddy, .site div#jp-relatedposts, .inline li { border-color: inherit; }

/* FILE: custom-styles/_accent.scss */
mark, .highlight, .pagination .current, .bypostauthor > .comment-body .comment-author::before, .comment-navigation a, .widget_calendar tbody a, .widget .tagcloud a:hover, .widget .tagcloud a:focus, .widget .tagcloud a:active, body #infinite-handle span, .site-content div.sharedaddy .sd-content ul li a.sd-button:not(.no-text), .sidebar::before { /*[*/ background-color: #986F3A; /*]*/ /*// background-color: ___color_accent_primary_background; //*/ }

.infinite-loader .spinner > div > div { /*[*/ background-color: #986F3A !important; /*]*/ /*// background-color: ___color_accent_primary_background !important; //*/ }

a, .accent-color, .wm-iconbox-module .image { /*[*/ color: #986F3A; /*]*/ /*// color: ___color_accent_primary_background; //*/ }

mark, .highlight, .pagination .current, .bypostauthor > .comment-body .comment-author::before, .comment-navigation a, .widget_calendar tbody a, .widget .tagcloud a:hover, .widget .tagcloud a:focus, .widget .tagcloud a:active, body #infinite-handle span { /*[*/ color: #fff; /*]*/ /*// color: ___color_accent_primary_text; //*/ }

.site-content div.sharedaddy .sd-content ul li a.sd-button:not(.no-text) { /*[*/ color: #fff !important; /*]*/ /*// color: ___color_accent_primary_text !important; //*/ }

.widget .tagcloud a:hover, .widget .tagcloud a:focus, .widget .tagcloud a:active { /*[*/ border-color: #986F3A; /*]*/ /*// border-color: ___color_accent_primary_background; //*/ }

mark, .highlight { /*[*/ box-shadow: 0.38em 0 0 #986F3A, -0.38em 0 0 #986F3A; /*]*/ /*// box-shadow: ( $golden_minor +em ) 0 0 ___color_accent_primary_background, ( -$golden_minor +em ) 0 0 ___color_accent_primary_background; //*/ }

@media only screen and (max-width: 679px) { .pagination a { /*[*/ background-color: #986F3A; color: #fff; /*]*/ /*// background-color: ___color_accent_primary_background; color: ___color_accent_primary_text; //*/ } }

/* FILE: custom-styles/_header.scss */
.site-header { /*[*/ background-color: #f1f3f5; color: #1a1c1e; /*]*/ /*// background-color: ___color_header_background; color: ___color_header_text_primary; //*/ }

.type-text.styled, .social-links a { /*[*/ background-color: #1a1c1e; box-shadow: inset 0 0 0 4px #1a1c1e, inset 0 0 0 5px; /*]*/ /*// background-color: ___color_header_text_primary; box-shadow: inset 0 0 0 4px ___color_header_text_primary, inset 0 0 0 5px; //*/ }

.type-text.styled, .social-links a, .type-text.styled:hover, .social-links a:hover, .type-text.styled:focus, .social-links a:focus, .type-text.styled:active, .social-links a:active { /*[*/ color: #fafcfe; /*]*/ /*// color: ___color_header_text_secondary; //*/ }

@media only screen and (max-width: 959px) { .main-navigation-container .menu li a:focus, .main-navigation-container .menu li a:hover, .main-navigation-container .menu li.current-menu-item > a { /*[*/ /*]*/ /*// background-color: ___color_navigation_border; //*/ } }

@media only screen and (min-width: 960px) { .main-navigation-container .menu > ul > li a:hover, .main-navigation-container .menu > ul > li a:focus, .main-navigation-container .menu > ul > li a:active, .main-navigation-container .menu > ul > li.focus > a, .main-navigation-container .menu > ul > li.current-menu-item > a, .main-navigation-container .menu > ul > li.current-menu-ancestor > a { /*[*/ background-color: #1a1c1e; color: #fafcfe; /*]*/ /*// background-color: ___color_header_text_primary; color: ___color_header_text_secondary; //*/ }
  .main-navigation-container .menu > ul > li.current-menu-item > a, .main-navigation-container .menu > ul > li.current-menu-ancestor > a { /*[*/ box-shadow: inset 0 0 0 4px #1a1c1e, inset 0 0 0 5px; /*]*/ /*// box-shadow: inset 0 0 0 4px ___color_header_text_primary, inset 0 0 0 5px; //*/ }
  .main-navigation-container .menu > ul > li a:hover, .main-navigation-container .menu > ul > li a:focus, .main-navigation-container .menu > ul > li a:active, .main-navigation-container .menu > ul > li.focus > a { box-shadow: none; }
  .main-navigation-container .menu li li > a:focus, .main-navigation-container .menu li li:hover > a, .main-navigation-container .menu li li.focus > a, .main-navigation-container .menu li li.current-menu-item > a, .main-navigation-container .menu li li.current-menu-ancestor > a { /*[*/ /*]*/ /*// background-color: ___color_navigation_border; //*/ } }

.main-navigation-container ul { /*[*/ /*]*/ /*// border-color: ___color_navigation_border; //*/ }

@media only screen and (min-width: 960px) { .main-navigation-container li ul { /*[*/ background-color: #1a1c1e; color: #fafcfe; /*]*/ /*// background-color: ___color_header_text_primary; color: ___color_header_text_secondary; //*/ } }

.menu-toggle, .mobile-menu-container, .main-navigation.active { /*[*/ background-color: #1a1c1e; color: #fafcfe; /*]*/ /*// background-color: ___color_header_text_primary; color: ___color_header_text_secondary; border-color: ___color_navigation_border; //*/ }

.mobile-menu-container .current-menu-item { /*[*/ /*]*/ /*// background-color: ___color_navigation_border; //*/ }

.intro { text-shadow: 0 2px 2px rgba(10, 12, 14, 0.75); background: linear-gradient(to top, rgba(10, 12, 14, 0.75), transparent); color: #fafcfe; }

.intro-widgets-container { /*[*/ color: #caccce; border-color: #4a4c4e; /*]*/ /*// color: ___color_footer_text; border-color: ___color_footer_border; //*/ }

.intro-widgets-container::before { /*[*/ background-color: #2a2c2e; /*]*/ /*// background-color: ___color_footer_background; //*/ }

.intro-widgets-container .widget-title { /*[*/ color: #eaecee; /*]*/ /*// color: ___color_footer_headings; //*/ }

/* FILE: custom-styles/_content.scss */
.site, .site-content { /*[*/ background-color: #fafcfe; color: #5a5c5e; border-color: #caccce; /*]*/ /*// background-color: ___color_content_background; color: ___color_content_text; border-color: ___color_content_border; //*/ }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, .post-navigation, .dropcap-text::first-letter { /*[*/ color: #2a2c2e; /*]*/ /*// color: ___color_content_headings; //*/ }

.single .entry-meta-element, .sidebar .widget-title { /*[*/ background-color: #2a2c2e; color: #fafcfe; box-shadow: inset 0 0 0 4px #2a2c2e, inset 0 0 0 5px; /*]*/ /*// background-color: ___color_content_headings; color: ___color_content_background; box-shadow: inset 0 0 0 4px ___color_content_headings, inset 0 0 0 5px; //*/ }

/* FILE: custom-styles/_footer.scss */
.site-footer { /*[*/ background-color: #2a2c2e; color: #caccce; border-color: #4a4c4e; /*]*/ /*// background-color: ___color_footer_background; color: ___color_footer_text; border-color: ___color_footer_border; //*/ }

.site-footer h1, .site-footer .h1, .site-footer h2, .site-footer .h2, .site-footer h3, .site-footer .h3, .site-footer h4, .site-footer .h4, .site-footer h5, .site-footer .h5, .site-footer h6, .site-footer .h6 { /*[*/ color: #eaecee; /*]*/ /*// color: ___color_footer_headings; //*/ }

.site-footer a { /*[*/ color: #eaecfe; /*]*/ /*// color: ___color_footer_accent; //*/ }

.site-footer mark, .site-footer .highlight, .site-footer .button, .site-footer button, .site-footer input[type="button"], .site-footer input[type="reset"], .site-footer input[type="submit"], .site-footer .widget_calendar tbody a, .site-footer .widget .tagcloud a:hover, .site-footer .widget .tagcloud a:focus, .site-footer .widget .tagcloud a:active { /*[*/ background-color: #eaecfe; color: #3a3c4e; /*]*/ /*// background-color: ___color_footer_accent; color: ___color_footer_accent_text; //*/ }

.site-footer input:focus, .site-footer select:focus, .site-footer textarea:focus, .site-footer .widget .tagcloud a:hover, .site-footer .widget .tagcloud a:focus, .site-footer .widget .tagcloud a:active { /*[*/ border-color: #eaecfe; /*]*/ /*// border-color: ___color_footer_accent; //*/ }
