/* FILE: main/base/__layout.scss */

//
// Layout
//





html {
	min-width: 320px;
}

body {

	@include responsive( map_get( $breakpoint, 'l' ) ) {
		padding: 1em;
	}

	@include responsive( map_get( $breakpoint, 'xl' ) ) {
		padding: $golden +em;
	}

}

.site {
	position: relative;
	width: 100%;
	margin: 0 auto;
}

.site-layout-boxed {

	.site {
		max-width: $boxed_width +px;
		max-width: $boxed_width * $px;
		box-shadow: 0 0 1rem rgba( #000, .1 );
	}

}

.site-layout-fullwidth {}

%basic_width {
	width: 88%;
	margin: 0 auto;
}

%content_width {
	@extend %basic_width;
	max-width: $content_width +px;
	max-width: $content_width * $px;
}

%full_width {
	@extend %basic_width;
	max-width: 1920px;
	max-width: 1920 * $px;
}
