/* FILE: main/sidebar/__footer.scss */

//
// Footer widgets area
//





.footer-widgets {
	@extend .clearfix; // Flexbox fallback
	display: flex;

	&-inner {
		padding-top: $golden +em;
		padding-bottom: $golden +em;

		@include responsive( map_get( $breakpoint, 'm' ) ) {
			padding-top: 0;
			padding-bottom: 0;
		}

	}

	$columns: 3;

	.widget {
		float: left; // Flexbox fallback
		flex-shrink: 1; // IE10 required on flex children
		position: relative;
		width: percentage( 1 / $columns );
		padding: ( $golden +em ) 0;
		margin: 0;

		+ .widget {
			margin-left: $golden * 2rem;
		}

		@include responsive( map_get( $breakpoint, 'm' ) ) {
			padding: ( power( $golden, 2 ) +em ) 0;
		}

		@include responsive( map_get( $breakpoint, 'l' ) ) {
			padding: ( power( $golden, 3 ) +em ) 0;
		}

		li,
		table {
			border-color: inherit;
		}

	}

}
