/* FILE: main/sidebar/__intro.scss */

//
// Intro widgets area
//





.intro-widgets {
	@extend %content_width;
	@extend %horizontal_widget_area;

	&,
	& * {
		border-color: inherit;
	}

	&-container {
		position: relative;
		width: 100%;
		z-index: 1; // Trick to keep pseudo element below child elements

		&::before {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			opacity: .85;
			z-index: -1; // Trick to keep pseudo element below child elements
		}

	}

	a {
		color: inherit;
	}

}
