/* FILE: main/sidebar/__intro.scss */

//
// Intro widgets area
//





.intro-widgets {
	@extend %content_width;
	@extend %horizontal_widget_area;

	&,
	& * {
		border-color: inherit;
	}

	&-container {
		width: 100%;
	}

	a {
		color: inherit;
	}

}
