/* FILE: main/sidebar/_sidebar.scss */

//
// Sidebar
//





// Theme sidebar styles

	.sidebar {
		@extend %font_size_smaller;
		position: relative;
		margin-top: power( $golden, 2 ) +rem;

		@include responsive( map_get( $breakpoint, 'l' ) ) {
			width: percentage( $golden_minor - .08 ); // 8% margin from content area
			width: calc( #{ percentage( $golden_minor ) } - #{ $golden * 2rem } ); // better calculation for widget title borders
			margin-top: 0;
		}

		.widget {
			padding: 0 ( $golden +rem );
			margin-top: power( $golden_minor + 1, 4 ) +em;
		}

	}



// Imports

	@import "_intro";

	@import "_footer";

	@import "_widgets";
