/* FILE: main/sidebar/_sidebar.scss */

//
// Sidebar
//





// Theme sidebar styles

	.sidebar {
		@extend %font_size_smaller;
		position: relative;
		margin-top: power( $golden, 2 ) +rem;

		@include responsive( map_get( $breakpoint, 'l' ) ) {
			width: percentage( $golden_minor - .08 ); // 8% margin from content area
			width: calc( #{ percentage( $golden_minor ) } - #{ $golden * 2rem } ); // better calculation for widget title borders
			margin-top: 0;
		}

		.widget {
			padding: 0 ( $golden +rem );
			margin-top: power( $golden_minor + 1, 4 ) +em;
		}

	}



// Horizontal widget area

	%horizontal_widget_area {
		display: flex;
		justify-content: space-between;
		padding-top: $golden +em;
		padding-bottom: $golden +em;

		@include responsive( map_get( $breakpoint, 'm' ) ) {
			padding-top: 0;
			padding-bottom: 0;
		}

		.widget {
			flex: 1;
			flex-shrink: 1; // IE10 required on flex children
			padding: ( $golden +em ) 0;
			margin: 0;

			+ .widget {
				margin-left: $golden * 2rem;
			}

			@include responsive( map_get( $breakpoint, 'm' ) ) {
				padding: ( power( $golden, 2 ) +em ) 0;
			}

			@include responsive( map_get( $breakpoint, 'l' ) ) {
				padding: ( power( $golden, 3 ) +em ) 0;
			}

			li,
			table {
				border-color: inherit;
			}

		}

	}



// Imports

	@import "_intro";

	@import "_footer";

	@import "_widgets";
