/* FILE: main/forms/__buttons.scss */

//
// Generic button style
//





%button_base {
	@extend %line_height_1;
	@extend .weight-700;
	padding: ( $golden_major +em ) ( $golden_minor + 1em );
	margin-top: 2px; // Allow some breathing when stacked
	margin-bottom: 2px; // Allow some breathing when stacked
	border: 0;
	border-radius: 0;
	cursor: pointer;
	transition: background .3s, color .3s, box-shadow .2s linear;

	form & {
		// No need for stacked breathing in forms...
		margin-top: 0;
		margin-bottom: 0;
	}

	div[class*="hover-color-"] & {
		transition: none;
	}

	@include responsive( map_get( $breakpoint, 'l' ) ) {
		line-height: inherit;
	}

	&:hover,
	&:focus,
	&:active {
		text-decoration: none;
		box-shadow: none;
	}

	&:hover {
		outline: 0;
	}

	&:focus {
		outline: thin dashed;
	}

	&:active {
		outline: 0;
	}

}

.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.main-navigation-container .button > a {
	@extend %button_base;
}
